.cate-cover{
    width:100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.cat-pic{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.cat-in{
    position: relative;
    width: 50%;
    height: 100%;
}
.c-box{
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid white;
    top:10px;
    &:hover{
        box-shadow: 0 0 10px black;
        transition: all 0.5s;
    }
}
/* box style */
.c-box-left:first-child{
    rotate: 20deg;
    left: 14%;
    top:5%;
}
.c-box-left:nth-child(2){
    top:20%;
    rotate: 30deg;
    left: 34%;
}
.c-box-left:nth-child(3){
    top:42%;
    rotate: 40deg;
    left:  53%;
}
.c-box-left:nth-child(4){
    top:65%;
    rotate: 50deg;
    left:  70%;
}
/* cat-right */
.c-box-right:first-child{
    rotate: -20deg;
    right: 14%;
    top:5%;
}
.c-box-right:nth-child(2){
    top:20%;
    rotate: -30deg;
    right: 34%;
}
.c-box-right:nth-child(3){
    top:42%;
    rotate: -40deg;
    right:  53%;
}
.c-box-right:nth-child(4){
    top:65%;
    rotate: -50deg;
    right:  70%;
}
.c-box-right:nth-child(5){
    top:0px;
    right: -8.5%;
}
.c-box > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* cat-text */
.cat-txt > p{
     padding: 20px;
     font-size: 25px;
     width: 50%;   
     transform: translateY(40px);
     text-align: center;
     text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.cat-btn{
   transform: translateY(40px);
}
@media screen and (max-width:1000px)  and (min-width:700px){
    .cat-txt > p {
        width: 80%;
        padding: 10px;
    }
    .c-box{
    position: absolute;
    width: 110px;
    height: 110px;
   }
   .c-box-right:first-child{
       rotate: -20deg;
       right: 10%;
       top:5%;
   }
   .c-box-left:first-child{
      rotate: 20deg;
      left: 10%;
      top:5%;
   }
 .c-box-right:nth-child(4){
    top:65%;
    rotate: -50deg;
    right: 60%;
  }
   .c-box-left:nth-child(4){
    top:65%;
    rotate: 50deg;
    left: 60%;
  }
  .c-box-right:nth-child(5){
    display: none;
  }
  
}
@media screen and (max-width:700px)  and (min-width:300px){
   .cate-cover{
    height: 70vh;
   }
    .cat-txt > p {
        width: 90%;
        font-size: 18px;
        padding: 10px;
    }
    .c-box{
    position: absolute;
    width: 110px;
    height: 110px;
   } 
   .c-box-right:nth-child(5){
    top:0px;
    right: -55px;
  }
  .cat-btn {
     padding: 5px 20px;
     font-size: 15px;
  }
  .c-box{
    width: 70px;
    height: 70px;
  }
   .c-box-right:nth-child(3){
        top:42%;
        rotate: 40deg;
        right:  40%;
   }
   .c-box-left:nth-child(3){
        top:42%;
        rotate: -40deg;
        left:  40%;
   }
  .c-box-right:nth-child(4){
    top:60%;
    rotate: -50deg;
    right: 30%;
  }
   .c-box-left:nth-child(4){
    top:60%;
    rotate: -50deg;
    left: 30%;
  }
  .c-box-right:nth-child(5){
    display: none;
  }
  .cat-txt > p{
    transform: translateY(-30px);
  }
  .cat-btn{
   transform: translateY(-10px);
}
 .category{
    padding-top: 20px;
    padding-bottom: 0;
 }
}
@media screen and (max-width: 2560px) and (min-width: 1900px) {
  .c-box{
    width: 250px;
    height: 250px;
   }
   .cat-txt > p{
    font-size: 45px;
   }
   .c-box-right:nth-child(5) {
    top: 0px;
    right: -9.5%;
   }
}

 